/* Based on the Sample style sheet for boom!, the book microformat by Hakon Wium Lie and Bert Bos, November 2005 */
/* You may reuse this style sheet for any purpose without any fees */

html {
  margin: 0;
  font-variant: regular;
  line-height: 107%;
  font-weight: lighter;
}

body {
  margin: 0 3.5%;
  font: 10pt/1.26 Palatino, Baskerville, "Hoefler Text", Minion Pro, Garamond, Cochin, Times New Roman, serif;
}

@page {
  padding:0;
  margin:0.375in;
  size: 6in 9in;
  @footnotes {
    border-top: thin solid black;
    padding-top: 0.3em;
    margin-top: 0.6em;
    margin-left: 7%;
  }
}

/* define default page and names pages: cover, blank, frontmatter */
@page :left {
  @top-left {
    font: 8pt Palatino, Baskerville, "Hoefler Text", Minion Pro, Garamond, Cochin, Times New Roman, serif;
    content: string(header, first);
    font-style:italic;
    vertical-align: bottom;
    padding-bottom: 1.5em;
  }

  @bottom-left {
    font: 8pt Palatino, Baskerville, "Hoefler Text", Minion Pro, Garamond, Cochin, Times New Roman, serif;
    content: counter(page);
    padding-top: 1.5em;
    vertical-align: top;
  }
}

@page :right {
  @top-right {
    font: 8pt Palatino, Baskerville, "Hoefler Text", Minion Pro, Garamond, Cochin, Times New Roman, serif;
  font-style:italic;
    content: 'Bookler - Read your Feed';
    vertical-align: bottom;
    padding-top: 1.5em;
  }

  @bottom-right {
    font: 8pt Palatino, Baskerville, "Hoefler Text", Minion Pro, Garamond, Cochin, Times New Roman, serif;
    content: counter(page);
    text-align: right;
    vertical-align: top;
    padding-bottom: 1.5em;
  }
}

@page blank :left {
  @top-left { content: normal; }
  @bottom-left { content: normal; }
}

@page blank :right {
  @top-right { content: normal; }
  @bottom-right { content: normal; }
}

@page nohead :left {
  @top-left { content: ' '; }
}

@page nohead :right {
  @top-right { content: ' '; }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Palatino, Baskerville, "Hoefler Text", Minion Pro, Garamond, Cochin, Times New Roman, serif;
  margin: 1em 0 1em 0;
  page-break-after: avoid;
  font-weight: lightest;
  clear: both;
}

h1, h2 {
  font-size: 22pt;
  margin:2em 0;
  font-weight: bold;
  text-align:center;
}

span.caps {
  font-variant: small-caps;
}

sup {font-size:1em;}

blockquote, q {
  margin:1em;
  font-size:10pt;
  line-height:15pt;
  font-style:italic;
}

blockquote:before, q:before {
  content: "\201C";
  font-size:14pt;
}

blockquote:after, q:after {
  content: "\201D";
  font-size:14pt;
}


p + p { text-indent: 1.3em }
p.sidenote + p, p.caption, p.art { text-indent: 0 }

a { text-decoration: none; color: black }

/*images*/
img {
  display:block;
  max-width:4in;
  clear:both;
  margin:0.5in auto;
}

/* TOC */
#toc {
  margin:0 auto;
  padding:0;
  list-style-type: none;
  font-size: 100%;
  page-break-before: always;
  page: blank;
  width:80%;
}

#toc ul {
  counter-reset: list-item;
  margin:0;
  padding:0;
}

#toc li {
  margin: 13px 5px;
  clear: right;
  font: 12pt/1.26;
  font-weight: normal;
  page-break-after: avoid;
  list-style-type: none;
  counter-increment: list-item;
}

#toc a {margin:0;}

#toc a::before {
  content: counters(list-item, ".", decimal);
  counter-increment: toc-chapter;
  page-break-after: avoid;
  font-style: italic;
  font-weight: bold;
  margin-right: 15px;
  color: #000;
}

#toc a::after { content: leader(".") target-counter(attr(href), page); }

/* Chapters */
.chapter {page-break-before: always;}

.chapter { counter-increment: chapter-num; }

.chapter::before {
    content: counter(chapter-num, decimal);
    margin:0 0 4em;
    font-size:4em;
}

/*hyphenation and justification rules*/
.titlepage {
  padding:2.5in 0 0 0;
}

.titlepage p,
.introduction p,
.chapter p {
  hyphens: auto;
  prince-hyphenate-after: 4;
  text-align:justify;
}

.chapter ul {
  margin:1em 2em;
}

.chapter li {
  font-size:1em;
  list-style-type: dics;
}

.chapter h1,
.chapter h2,
.chapter h3,
.chapter h4,
.chapter h5,
.chapter h6 {
  font-size:1em;
  font-size:bold;
  margin:1em 0;
}

/*
   A book consists of different types of sections. We propose to use
   DIV elements with these class names:

    frontcover
    halftitlepage: contains the title of the book
    titlepage: contains the title of the book, name of author(s) and publisher
    imprint: left page with copyright, publisher, library printing information
    dedication: right page with short dedication
    foreword: written by someone other than the author(s)
    toc: table of contents
    preface: preface, including acknowledgements
    chapter: each chapter is given its own DIV element
    references: contains list of references
    appendix: each appendix is given its own
    bibliography
    glossary
    index
    colophon: describes how the book was produced
    backcover

   A book will use several of the types listed above, but few books
   will use all of them.
*/

/* which section uses which named page */
.frontcover, .halftitlepage, .titlepage,
.acknowledgements, .introduction, .imprint,
.contributors, .dedication, .images {
  page: blank;
}
.foreword, .toc, .preface, .index { page: frontmatter; }

/* page breaks */
.frontcover, .halftitlepage, .titlepage, .index, .contributors,
.acknowledgements, .introduction, .images, .page-break  { page-break-before: always; }

/*adds another page*/
/*div.frontcover, div.halftitlepage, div.titlepage, div.acknowledgements { page-break-before: right } */
.imprint { page-break-before: always }

.frontcover {
  margin:0;
}

.frontcover::before {
  /*content:"";
  display: block;
  position: absolute;
  width: 6in;
  max-width: 6in;
  height: 9in;
  left: 0;
  top: -0.51in;
  z-index: -1;
  background: repeating-radial-gradient(circle, white 5%, #4f4f4f 10%),
    radial-gradient(circle, #4f4f4f 5%, #4f4f4f 15%) 0.2in 0.2in;
  background-size:0.4in 0.4in;*/
}