!!! XML utf-16
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Bookler
    %link{ :href => "stylesheets/print.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %nav#toc
      %ul
        -for chapter in @chapters
          -if(chapter['title'])
            -id= Digest::MD5.hexdigest(chapter['title'])
            %li.toc-chapter
              -anchor='#'+id
              %h2
                %a(href=anchor)
                  = chapter['title']
    .container
      -for chapter in @chapters
        -if(chapter['title'])
          -id= Digest::MD5.hexdigest(chapter['title'])
          .chapter
            %h1
              %a(name=id)
                = chapter['title']
            = chapter['content']
