!!! 5
%html(lang="en")
  %head
    %title Bookler
    %link{:rel => 'stylesheet', :href => 'stylesheets/bootstrap.css', :type => "text/css"}

  %body

    .container
      .content
        .page-header
          %h1
            Bookler
            %small &nbsp;read your feed
        .row
          .span8
            %h2 Make your book
            %form{ :action => "/", :method => "post"}
              .clearfix
              %label Feed URL
              .input
                %input{ :name => "feedurl", :class => "", :type => "text", :id => "feedurl"}
              .clearfix
              %input{ :type => "submit", :class => "btn primary large", :value => "Create a book"}

      %footer