!!! 5
%html(lang="en")
  %head
    %title Bookler
    %link{:rel => 'stylesheet', :href => 'stylesheets/bootstrap.min.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => 'stylesheets/bookler.css', :type => "text/css"}

  %body

    .container
      .header
        %h1
          Bookler
          %small &nbsp;read your feed
      .jumbotron
        %h1 Make your book
        %form{ :action => "/", :method => "post"}
          .form-group
            %label Feed URL
            %input{ :name => "feedurl", :class => "form-control", :type => "text", :id => "feedurl"}
            %input{ :type => "submit", :class => "btn btn-lg btn-success", :value => "Create a book"}

      %footer